# Copy from .env.local on the Vercel dashboard
# https://nextjs.org/learn/dashboard-app/setting-up-your-database#create-a-postgres-database


POSTGRES_URL="postgres://default:GY4NULjing7Q@ep-broad-scene-a7xh65hs-pooler.ap-southeast-2.aws.neon.tech:5432/verceldb?sslmode=require"
POSTGRES_PRISMA_URL="postgres://default:GY4NULjing7Q@ep-broad-scene-a7xh65hs-pooler.ap-southeast-2.aws.neon.tech:5432/verceldb?sslmode=require&pgbouncer=true&connect_timeout=15"
POSTGRES_URL_NO_SSL="postgres://default:GY4NULjing7Q@ep-broad-scene-a7xh65hs-pooler.ap-southeast-2.aws.neon.tech:5432/verceldb"
POSTGRES_URL_NON_POOLING="postgres://default:GY4NULjing7Q@ep-broad-scene-a7xh65hs.ap-southeast-2.aws.neon.tech:5432/verceldb?sslmode=require"
POSTGRES_USER="default"
POSTGRES_HOST="ep-broad-scene-a7xh65hs-pooler.ap-southeast-2.aws.neon.tech"
POSTGRES_PASSWORD="GY4NULjing7Q"
POSTGRES_DATABASE="verceldb"

# `openssl rand -base64 32`
AUTH_SECRET="r9mFXEABTi6c9u9BbiNodQ50/GM68UFhdhTENEAqiMc="
AUTH_URL=http://localhost:3000/api/auth

# Stripe environment variables
STRIPE_SECRET_KEY="sk_test_51QDP5fGpPt9v3HxUQ2rquvZT4YRYghpzmJsYTEqkx8UmhM0vShZ39Ue4OizzKN4Jjzpkt5Uws9gJHO7DQJhPlTK200OpABuqYd"
STRIPE_PUBLIC_KEY="pk_test_51QDP5fGpPt9v3HxURtb6nMxJ0zlFvSokGxziz4KCvRUxZUrHNJNRDr6qxjYScZaXULafC4e7FkZ1zjS7D7B2PNpU009SyvwX3M"
STRIPE_CONNECTED_ACCOUNT_ID="acct_1QDQGjGaL87qUONH"
SERVER_URL="http://localhost:3000"


NEXT_PUBLIC_STRIPE_PUBLIC_KEY=$STRIPE_PUBLIC_KEY
NEXT_PUBLIC_STRIPE_CONNECTED_ACCOUNT_ID=$STRIPE_CONNECTED_ACCOUNT_ID
NEXT_PUBLIC_SERVER_URL=$SERVER_URL
